@font-face {
  font-family:'Gramatika-Regular';
  src: url("/public/fonts/gramatika_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family:'Inter';
  src: url("/public/fonts/Inter-Regular.ttf") format("truetype");
  font-weight:400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika-Light';
  src: url("/public/fonts/gramatika_light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika-Medium';
  src: url("/public/fonts/gramatika_medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}